# ONLY ADD *PRIVETE* SETTINGS IN THIS FILE
# Github
GITHUB_APP_ID = <APP_ID>
GITHUB_APP_PRIVATE_KEY = <KEY>
GITHUB_OAUTH_CLIENT_ID = <CLIENT_ID>
GITHUB_OAUTH_CLIENT_SECRET = <SECRET>
GITHUB_INSTALLATION_ID = <INSTALLATION_ID>  # Will be deprecated once we have multi installation support

# Dialogflow
DIALOGFLOW_DEVELOPER_ACCESS_TOKEN = <DEVELOPER_ACCESS_TOKEN>
DIALOGFLOW_CLIENT_ACCESS_TOKEN = <CLIENT_ACCESS_TOKEN>
