# ONLY ADD *PRIVATE* SETTINGS IN THIS FILE

# Github
GITHUB_OAUTH_CLIENT_ID = <CLIENT_ID>
GITHUB_OAUTH_CLIENT_SECRET = <SECRET>

# Dialogflow
DIALOGFLOW_DEVELOPER_ACCESS_TOKEN = <DEVELOPER_ACCESS_TOKEN>
DIALOGFLOW_CLIENT_ACCESS_TOKEN = <CLIENT_ACCESS_TOKEN>

# The following is only necessary if Lara needs to be able to proactively post messages to Slack
BROKER_AUTHKEY = <BROKER_AUTHKEY>
SLACK_APP_INCOMING_URL = dict(
    <SLACK_USER_ID>=<URL_OF_CHANNEL>,  # Example: U7UJ7Q3RP="https://hooks.slack.com/services/xxxxx"
)