<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lara</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.ico">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" style="margin-top: 150px">
    <div class="row">
      <div class="one-half column">
          <h4>Lara</h4>
          <p>Linked accounts:</p>
          <table>
              <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Github</th>
                  <th>Slack ID</th>
              </tr>
              {% for user in users %}
                  <tr>
                      <td><img src="{{ user["avatar"] }}" style="width: 50px;"></td>
                      <td>{{ user["name"] }}</td>
                      <td><a href="{{ user["url"] }}">{{ user["github"] }}</a></td>
                      <td>{{ user["slack"] }}</td>
                  </tr>
              {% endfor %}
          </table>
      </div>
      <div class="one-half column">
          <img src="../static/images/lara_logo.png">
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
